/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #ffffff;
  --error: #7a0707;
}
body {
  background: #353536;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #1c1c1c;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #ffffff;
  text-decoration: none;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}
#series-top {
  background: #252525;
  margin-bottom: 20px;
  color: white;
  height: 30px;
  width: 915px;
  border-radius: 4px;
  font-size: 20px;
  padding: 5px 15px;
}
#series-top #reorder {
  float: right;
  margin-top: 3px;
}
.series {
  display: grid;
  gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
}
.chapter-row {
  background: #1c1c1c;
  width: 300px;
  height: 315px;
  border-radius: 4px;
  margin: 10px auto;
  padding: 0;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.material-symbols-outlined {
  user-select: none;
}

.edit-button {
  font-size: 20px;
  color: white;
  height: 30px;
  background: #252525;
  padding: 5px 15px;
  border-radius: 4px;
  width: 270px;
  display: flex;
  justify-content: center;
  user-select: none;
}

.edit-button:hover {
  background: #444444;
}

.side-column {
  min-width: 20px;
}
.side-column-box {
  background:#353536
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 15px;
  padding: 20px;
  background-color: #252525;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #0000000d;
}

/* auth forms */
.authform {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  
  color: white;
  border-radius: 4px;
}
.authform div {
  background-color: #1c1c1c;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #0000000d;
  padding: 0 5px;
  display: flex;
  justify-content: center;
}
.authform form {
  background: #252525;
  padding: 5px 0;
}